{% extends "base.html" %}

{% block title %}Главная{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Добро пожаловать в Flask приложение!</h1>
    <p class="lead">Это приложение демонстрирует различные возможности Flask:</p>
    <ul>
        <li>Отображение параметров URL</li>
        <li>Просмотр заголовков запроса</li>
        <li>Работа с cookies</li>
        <li>Обработка параметров формы</li>
        <li>Валидация номера телефона</li>
    </ul>
</div>
{% endblock %} 